@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tobias:wght@300&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-tobias: Tobias;
  --font-inter: Inter;

  /* font sizes */
  --font-size-131xl: 150px;
  --font-size-18xl: 37px;
  --font-size-41xl: 60px;

  /* Colors */
  --black: #14171f;
  --color-white: #fff;

  /* Paddings */
  --padding-71xl: 90px;
  --padding-26xl: 45px;
  --padding-3xl: 22px;
}
