.focusIcon {
  width: 3158px;
  height: 3158px;
  position: absolute;
  margin: 0 !important;
  right: -1110.6px;
  bottom: -1358px;
  object-fit: contain;
}
.logoIcon {
  width: 400px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.socialTemplates,
.toShowcaseYour {
  position: relative;
  line-height: 100%;
  z-index: 1;
}
.socialTemplates {
  width: 1082px;
  letter-spacing: -0.06em;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.toShowcaseYour {
  align-self: stretch;
  letter-spacing: -0.03em;
  font-weight: 300;
  font-family: var(--font-tobias);
}
.cover,
.socialTemplatesParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.socialTemplatesParent {
  width: 1147px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-131xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.cover {
  width: 100%;
  position: relative;
  background-color: var(--black);
  overflow: hidden;
  padding: var(--padding-71xl) var(--padding-71xl) 236.1px;
  box-sizing: border-box;
  gap: 80px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .cover {
    padding-left: var(--padding-26xl);
    padding-right: var(--padding-26xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .socialTemplates,
  .toShowcaseYour {
    font-size: var(--font-size-41xl);
    line-height: 90px;
  }
}
@media screen and (max-width: 750px) {
  .cover {
    gap: 40px;
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .socialTemplates,
  .toShowcaseYour {
    font-size: var(--font-size-18xl);
    line-height: 60px;
  }
  .cover {
    gap: 20px;
  }
}
